#google {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 191px;
    height: 46px;
    background: url('../../assets/google/btn_google_signin_dark_normal_web.png');
}