@import '../../styles';

:host {
    height: 92%;
    display: flex;
    flex-direction: column;
}

.l-card {
    background: $lc-bg;
    margin: 5em 1em;
    flex: 1;
}

p {
    line-height: 1.4em;
}
