@import '../../styles';

#users {
    padding: 2em 1em;

    .l-user-list-item {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        border-bottom: thin solid $lc-secondary;
        background-color: white;
    }
}