@import '../../styles';

.l-sidenav-container {
    background: inherit;
}

.l-toolbar {
    color: $lc-text-alt;
    background-color: $lc-primary;

    .title {
        position: absolute;
        right: 40px;
    }
}

.l-menu-item {
    color: white;
}

.l-menu-icon {
    padding-right: 1em;
}

.l-sidenav-content {
    min-height: 3em;
    background-color: inherit;
}

.l-sidenav {
    width: 240px;
    background-color: $lc-primary;
}
