<md-sidenav-container class="l-sidenav-container">
  <md-sidenav #sidenav mode="over" class="l-sidenav">
    <md-toolbar class="l-sidenav-content">
      <md-toolbar-row class="l-menu-item" [routerLink]="['/']">
        <md-icon class="l-menu-icon">home</md-icon>Home
      </md-toolbar-row>
      <md-toolbar-row class="l-menu-item" [routerLink]="['about']">
        <md-icon class="l-menu-icon">info</md-icon>About
      </md-toolbar-row>
      <md-toolbar-row *ngIf="user" class="l-menu-item" [routerLink]="['users']">
        <md-icon class="l-menu-icon">people</md-icon>Buddies
      </md-toolbar-row>
      <md-toolbar-row *ngIf="user" class="l-menu-item" [routerLink]="['spots']">
        <md-icon class="l-menu-icon">restaurant</md-icon>Spots
      </md-toolbar-row>
      <md-toolbar-row *ngIf="user" class="l-menu-item" [routerLink]="['users', user.id]">
        <md-icon class="l-menu-icon">person</md-icon>Preferences
      </md-toolbar-row>
      <md-toolbar-row *ngIf="user" class="l-menu-item" [routerLink]="['developers']">
        <md-icon class="l-menu-icon">computer</md-icon>Developers
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>
  <md-toolbar class="l-toolbar">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span class="title">Lench!</span>
  </md-toolbar>
  <main>
      <router-outlet></router-outlet>
  </main>
</md-sidenav-container>