<article id="user">
  <h1>Hello {{firstName}}</h1>
  <div *ngIf="preferences;then preferences else nopreferences"></div>
  <ng-template #preferences>
    <p class="center-text">Are your preferences up-to-date?</p>
    <h4>Groups</h4>
    <p *ngIf="!groups">You don't have any Groups.</p>
    <a href="#"><p>Join a Group</p></a>
    <a href="#"><p>Create a Group</p></a>
    <h4>In Office Days</h4>
    <form>
      <ul class="days">
        <li>M<input type="checkbox" name="monday"></li>
        <li>T<input type="checkbox" name="tuesday"></li>
        <li>W<input type="checkbox" name="wednesday"></li>
        <li>T<input type="checkbox" name="thirsday"></li>
        <li>F<input type="checkbox" name="friday"></li>
      </ul>
    </form>

    <h4>Lunch Spots</h4>
    <p *ngIf="!lunchSpots">You don't have any Lunch Spots!</p>
    <a [routerLink]="['/spots', 'search']">Add a Lunch Spot</a>
    <h4>No Goes</h4>
    <ul>
      <li *ngFor="let ng of noGoes">
        {{ng.name}}
      </li>
    </ul>
    <a [routerLink]="['/spots']">Review All Lunch Spots</a>
  </ng-template>
  <ng-template #nopreferences>Set your preferences</ng-template>
</article>
