@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Barrio&Roboto');

// colors

$lc-primary: #689112;
$lc-secondary: hotpink;
$lc-text-primary: #333;
$lc-text-alt: #fff;
$lc-bg: #f8fcf7;

// type properties

$lt-header-family: 'Barrio', sans-serif;
$lt-main-family: 'Roboto', sans-serif;
$lt-h1-size: 2.4em;
$lt-h2-size: 1.6em;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $lc-primary;
}